TZ=Europe/Paris

# Collections à installer au démarrage
# crowdsecurity/traefik  -> analyse logs Traefik
# crowdsecurity/sshd     -> analyse tentatives SSH
CROWDSEC_COLLECTIONS=crowdsecurity/traefik crowdsecurity/sshd

# Clé du bouncer iptables
# À générer APRÈS premier démarrage CrowdSec:
#   docker exec kernet-crowdsec cscli bouncers add iptables-bouncer
CROWDSEC_BOUNCER_KEY=CHANGE_ME
